*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#time{
    display: flex;
    gap: 40px;
    color: #fff;
    
}
#time .circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    margin-top: 40%;
    justify-content: center;
}
#time .circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px, 5px);
}
#time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
}

#time div{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 30%;
    margin-left: -4%;
} 
#time div span{
    position: absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.35em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 20%;
}

#time .ap{
    position: relative;
    font-size: 1em;
    transform: translateX(-20px);

}
.dots{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    justify-content: center;
    
    
}
.dots::before{
    content: '';
    position: absolute;
    /* top: 3px; */
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    margin-top: -32%;
    /* margin-left: -4%; */
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);

}